# Supabase setup (IPv6)
# DB_HOST=db.yhatilhoqfnmmyictnyz.supabase.co
# DB_PORT=5432
# DB_NAME=postgres
# DB_USER=postgres
# DB_PASS=
# DATABASE_URL=postgresql://postgres:5cE1ggtvWkHlHUZQ@db.yhatilhoqfnmmyictnyz.supabase.co:5432/postgres



# Supabase setup (IPv4)
DB_HOST=aws-1-us-east-2.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.yhatilhoqfnmmyictnyz
DB_PASS=
DATABASE_URL=postgresql://postgres.yhatilhoqfnmmyictnyz:[YOUR-PASSWORD]@aws-1-us-east-2.pooler.supabase.com:5432/postgres